* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.wrapper {
    background-color: #432361;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

div.content {
    display: flex;
}